svg {
    background-color: #bbbbff;
    border: 2px solid #888888;
  }

  path {
    fill:   #e0f0d4;
    stroke: #666;
    stroke-width: .5px;
  }

  .overlay {
      display: none;
      fill: none;
      pointer-events: all;
  }

  #map {
      margin-top: 2em;
  }

#tooltip {
    width: 240px;
    height: 120px;
    border: solid 1px gray;
    padding: 5px;
    position: absolute; 
    display: none;
    background-color: white;
}

#glegend text {
  color: red;
}


g.zoom-controls {
  cursor: pointer;
  pointer-events: all;
}
g.zoom-controls rect {
  fill: white;
  stroke: #596877;
  stroke-width: 1;
}
g.zoom-controls line {
  stroke: #596877;
  stroke-width: 2;
}